body { background-color: #fff;}
* { margin: 0;
padding: 0;
box-sizing: border-box;
}
image { 
    max-width: 100%;}
 /* css styl start here */
.section-1 {
    text-align: center; 
    background-image: url( ../imagewatch/section\ one.PNG  );
    background-size: cover;
    background-position: center; 
    height: 800px ;
    color: #fff;
    margin-bottom: 40px;
}
.header{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    text-align: center;
}
.smarter{ 
    font-family: Arial, Helvetica, sans-serif;   
    font-weight: 30px;
font-style: normal;
font-size: medium;}
.buy {
padding-top: 15px;
}
.section-2 { 
    margin: 40 auto; 
    max-width: 100%;
    background-color: #f5f5f7;
    margin-bottom: 40px;
}
.section-3{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f7;
    height: 800px;
}
.continner-1{   
    text-align: center;

}
.left-watch {
margin: 0 auto; 
}
.pararal{ 
    margin: 0 auto;
}