

*{ 
    padding: 0%; margin: 0%;}
*{ 
    max-width: 100%;  }
    body
    { font-size: 20px; 
        font-family: 'Montserrat', sans-serif;
    }


img{ 
    max-width: 100%;     }

/* .header ul ,li {   hover } */
/* *{opacity: ;        } */




/* *{ box-sizing: border-box     } */
.mac{
    max-width: 100%;
display: block;margin: auto; 
background-color: black;
margin-top: 40px; 
color: white;}
header ul{ 
    display: flex;  
    justify-content: space-between; width: 960px;margin: 0% auto; list-style: none; }



.internal-wrapper{  text-align: center;  padding: 30px 0;     }



.contenner  ul li a { 
    text-decoration: none; 
    list-style: none;  list-style: none;   }



.model p {  
    text-align: center;         }
.macbook{ 
    text-align: center;  
    font-size: 30px;         }
.best{ text-align: center;      }       
.mac-logo,.search-logo,.cart-logo{ 
    width: 18px;  
    display: block;         }

.iphone-11pro{ 
    text-align: center; 
    color: white; 
    font-size: 25px;    }

.mac-logo,.search-logo,.cart-logo{  width: 18px;   display: block;         }





.pro-camera{
    text-align: center; 
    color: white;   
    padding-bottom: 15px; 
    padding-top: 10px;  }

.money{
    text-align: center; 
    color: gray;                         }

.learn{
    display: inline-block;   
    text-align: center;   
color: blue;  
    justify-content: space-between;   padding-top: 5px;            }

.buy{  
    display: inline-block; text-align: center; color: blue;          }
.learnbuy{ 
    text-align: center; justify-content: space-between;     }



.wrapper { 
    background-image: url(../iconimage/iphone11-pro-bg.jpg      ); 
    height: 580px; 
    background-position: center;background-repeat: none;background-size: cover;
    text-align: center; 
    padding: 65px 20px;  }

.wapper2   { 
    background-image: url(../iconimage/iphone11-bg.jpg); 
    height: 580px; background-position:center ; background-repeat: none; background-size: cover; 
    text-align: center; 
    padding: 65px 20px; 
        }


.iphone-11 { 
    font-size:25px ;padding-bottom: 5px     };  

/* watch series start here */

.watch-logo{  
    background-image: url(../iconimage/watch-series-5.jpg);      }

.watch-wrapper{ 
    background-image: url(../iconimage/watch-series-5.jpg); 
    height: 580px;  
    background-position: center; background-repeat: none; background-size: cover;  
    text-align: center; 
    padding-top: 54px; 
; list-style: none;  width: 2100px;   margin: 1% 0.5%  0% 1%;    }

/* watch series end here */


/*  card is here start here */
.card{  
    background-image: url( ../iconimage/apple-card.jpg      );     }

.card-wrapper  { 
    background-image: url(../iconimage/apple-card.jpg);
    height: 580px; 
    background-position: center  ;background-repeat: none;background-size: cover;
    text-align: center;
    padding-top:  54px;
text-decoration-line: none; width: 2100px; margin: 1% 0.5% 0% 1%;         }
.continner{  
    display: flex; 
    justify-content: space-between;  }
/* card is here end here */


.main-continner{display: flex; justify-content: space-between;
} 
/* apple tv start here */
.tv-wrapper{ background-image: url(../iconimage/apple-tv-background.jpg); height: 580px; 
background-position: center; text-align: center;
background-repeat: no-repeat; 
background-size: cover;
width: 2100px;
margin: 1% 0.5%  0% 1%;
padding: 54px; 

}

.tvshow{      
    padding: 180px 0 200px;
}



.watch-the{ text-decoration: none; 
     font-size: 0.85em; 
  }

.watch-the a::after     {  font-family: "fontAwesome";     
font-weight: 900px; content:"\f144" ; 
padding-left: 15px;  }


.Airpod-wrapper { 
    background-repeat: no-repeat;
    background-color: #000;
    background-image: url(  ../iconimage/air-pods.jpg);          
    background-position: bottom ; 
    width:2100px;  height: 580px; padding-top: 54px; margin: 1% 0.5% 0% 1%;   
    
    background-size: initial; text-decoration: none;    color:white;
text-align: center; 

}


.logo-wrapper{   
    font-size: 40px; 
    font-weight: 40px;}




/* macbook pro start here */

.macbook-2{ 
    font-size: 20px;
    padding top; 16px; 
    padding bottom; 16px;   }
.internal-wrapper-1{
    background-image: url( ../iconimage/macbook-pro.jpg      ); background-position: bottom;  background-repeat: no-repeat; background-size: initial; height: 580px;  padding-top: 54px ; margin: 1% 0.5% 0% 1%; text-align: center; width: 2100px; 
 }

.internal-wrapperipad
{ background-image: url( ../iconimage/new-ipad.jpg     ); 
background-position: center;  
background-repeat: none; 
background-size: cover; 
height: 580px; 
text-align: center; 
padding-top: 54px; 
margin: 1% 0.5% 0% 1%   ; 
list-style: none ; 
width: 2100px; 
 /* background-color: white;  */
        }

.outside-wrapper{  display: flex;  justify-content: space-between;    }

.model-2{ color: gray;  }
.macbook-2 {   color: black;font-size: 40px; font-weight: 200px; padding-bottom: 16px;padding-top: 16px;    }

.best-2{  color: gray; padding-bottom: 16px; padding-top: 16px;  }

/* footer start here */


.footer-continner21{ 
background-color: #f5f5f7;
color: #1d1d1f;
font-size: .65em;   }

.pharagra{   border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 20px;   width: 960px;          }

.pharagra{    text-decoration: none;
	color: #515154; position: center; text-align: center;
}              
.pharagra a :hover    {  text-decoration: underline; margin: auto;        }

.footer-linkwrapper{display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 20px;}

.wrapper-all{  list-style: none; padding-bottom: 20px; padding: 5px 0;       }


.footer-links-wrapper{   display: flex;         }

.link-wrapper-1- ,.link-wrapper-2-, .link-wrapper-3-,.link-wrapper-4-,.link-wrapper-5-{  display: inline-block; text-align: center;  position: center; justify-content: space-between;}

.footer-continner21{ text-align: center;             }


.flag-wrapper {
	/* display: inline-block; */
	vertical-align: middle;
}
.footer-country-name{
	/* display: inline-block; */
	vertical-align: top;}
    .footer-country
    /* {  display: inline-block; } */
    .flag-wrapper
    {  display: inline-block;  vertical-align: middle;         }
    .footer-country-name{   display: inline-block; vertical-align: middle;       }
.copyright-wrapper{  display: flex;  justify-content: center;  margin-top: 20px; text-align: center;    }

.footer-link-terms{ list-style: none; display: flex; }


